{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- <script src="https://cdn.tailwindcss.com"></script> -->
</head>
  <title>{% block title %}{% endblock %}</title>
  <style>
  </style>
</head>
<body>

  <header>
    <nav class="bg-gray-800">
      <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8"></div>
        <div class="relative flex h-16 items-center justify-between">
          <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
            <div class="hidden sm:ml-6 sm:block">
              <div class="flex space-x-4">
                <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                <a href="{% url 'cars_list' %}" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Carros</a>
                <a href="{% url 'brands_list' %}" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Marcas</a>
                <a href="{% url 'vehicle_types_list' %}" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Tipos de Veiculo</a>
                <a href="{% url 'customers_list' %}" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Clientes</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <main>
    {% block content %}
    {% endblock %}
  </main>
  <script src="{% static 'jquery-3.6.0.min.js' %}"></script>
  <script src="{% static 'jquery.mask-1.14.16.js' %}"></script>
  <script src="{% static 'tailwind.js' %}"></script>
  <script src="{% static 'main.js' %}"></script>
</body>
</html>
